.footer {
  background: #0E5BD7;
  color: #fff;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-align: center;
}
