/* src/index.css – estilos globais mínimos */
:root {
  --brand: #0E5BD7;
  color-scheme: light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
  background: #f1f5f9; /* combina com a sua LoginPage */
  color: #0f172a;
}
